html{
 }

.page-wrapper{ 
width: 10000px;
height: 600px;}
				
a:link { color: black;}
		
header { width:325px;
height: 100px;
background-color: #40664D;
color:white;
font-family: Helvetica, Arial, sans-serif;
float:left;
position:fixed;
top:30px;
left:10px;
text-decoration: uppercase;
padding: 0 10px 10px 10px; }

.intro{ width: 500px;
height:600px;

float:left;}

.summary{ width: 300px;
height: 150px;
color: black;
position:absolute;
top:150px;
left:10px;
background-color:#40664D;}
.preamble{
width:300px;
height:550px;
background-color: #40664D;
color:white;
position: absolute;
top:250px;
left:10px;
font-family: Helvetica, Arial, Sans-serif;

margin:0px 30px 0px 30px; }

.sidebar{ width: 300px;
height: 350px;
background-color: white;
margin-bottom: 20px;
padding-left: 10px;
padding-bottom:10px;
float:left;
font-family: Helvetica, Arial, Sans-serif;
font-size: 12px;
color:black;
text-decoration:none;
text-align: justify;
border: solid 1px #BDFCC9;
}

.participation{width: 300px;
height: 550px;
background-color: white;
text-align: justify;
float: left; 
font-family:Garmond, serif;
padding: 0 10px 0 10px;
text-align:justified;
text-decoration:none;
margin: 50px 0 0px 30px;
border: solid 1px #BDFCC9;}

.benefits{width: 300px;
height: 500px;
background-color: white;
font-family:Helvetica, Arial, Sans-serif;
text-align:justify;
text-decoration:none;
float:left; 
padding:0 10px 0 10px;
margin: 50px 0px 0px 30px;
border: solid 1px #BDFCC9;
}