html{background-color:#E0EEE0;

 }

.page-wrapper{ 
width: 2300px;
height: 600px;
background-image:url(background.png);}
				
a:link { color: black;}
		
header { width:325px;
height: 100px;
background-color:#C1CDC1;
color:#838B83;
font-family: Helvetica, Arial, sans-serif;
float:left;
position:fixed;
top:30px;
left:10px;
text-decoration: uppercase;
padding: 0 10px 10px 10px; }

.intro{ width: 500px;
height:600px;

float:left;}

.summary { width: 300px;
height: 125px;
color: black;
position:absolute;
top:150px;
left:40px;
background-color:#C1CDC1;
color: #838B83;
font-family:Garamond, Serif;
padding-left: 10px;
}
.preamble{
width:300px;
height:350px;
background-color: #C1CDC1;
color:#838B83;
position: absolute;
top:300px;
left:10px;
font-family: Helvetica, Arial, Sans-serif;
padding: 10px;

margin:0px 30px 0px 30px; }

.sidebar{ width: 300px;
height: 350px;
background-color: white;
margin:0 20px 0px 30px;
padding:10px;
float:left;
font-family: Helvetica, Arial, Sans-serif;
font-size: 12px;
color:black;
text-decoration:none;
text-align: justify;

margin: 50px 0 0px 30px;
}

.participation{width: 300px;
height: 470px;
background-color: white;
text-align: justify;
float: left; 
font-family:Garamond, serif;
padding: 0 10px 0 10px;
text-align:justified;
text-decoration:none;
margin: 50px 0 0px 30px;
}

.benefits{width: 300px;
height: 500px;
background-color: white;
font-family:Helvetica, Arial, Sans-serif;
text-align:justify;
text-decoration:none;
float:left; 
padding:0 10px 0 10px;
margin: 50px 0px 0px 30px;

}

.requirements {width: 600px;
height: 500px;
background-color: white;
font-family:Helvetica, Arial, Sans-serif;
text-align:justify;
text-decoration:none;
float:left; 
padding:0 10px 0 10px;
margin: 50px 0px 0px 30px;

}

.explanation{ width: 1000px;
height: 200px;
position: absolute;
background-color: #F0FFF0;
top: 700px;
left: 50px;
}

footer{ width: 500px;
height: 100px;
position: absolute;
top: 760px;
left: 50px;}
 
 h3 { font-family: monospace;}

